@{
    ViewData["Title"] = "Bookster";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="@Url.Action("Index", "Books", new { slug = "life-of-pi" })">Viata lui Pi</a>
   </div>
